<po-page-default p-title="Parâmetros do Sistema">

  <po-button
    p-label="Novo Parâmetro"
    p-icon="an an-plus"
    (p-click)="create()">
  </po-button>

  <po-table
    [p-items]="parametrosVisiveis"
    [p-columns]="columns"
    [p-actions]="actions"
    [p-loading]="loading"
    [p-striped]="true"
    [p-hide-columns-manager]="true"
    [p-show-more-disabled]="showMoreDisabled"
    [p-loading-show-more]="loadingMore"
    (p-show-more)="onShowMore()">
  </po-table>

</po-page-default>

<po-modal
  #modalEdit
  [p-title]="isEditing ? 'Editar Parâmetro' : 'Novo Parâmetro'"
  [p-primary-action]="modalPrimaryAction"
  [p-secondary-action]="modalSecondaryAction">

  <form>
    <po-input
      name="chave"
      p-label="Chave"
      [(ngModel)]="currentItem.chave"
      [p-disabled]="isEditing ? 'true' : 'false'"
      p-required>
    </po-input>

    <po-input
      *ngIf="currentItem.chave !== 'SMTP_PASS'"
      name="valor"
      p-label="Valor"
      [(ngModel)]="currentItem.valor"
      p-required>
    </po-input>

    <po-password
      *ngIf="currentItem.chave === 'SMTP_PASS'"
      name="valorSenha"
      p-label="Valor"
      [(ngModel)]="currentItem.valor"
      p-required>
    </po-password>

    <po-input
      name="descricao"
      p-label="Descrição"
      [(ngModel)]="currentItem.descricao">
    </po-input>
  </form>

</po-modal>
