<po-page-default p-title="ETL - Dados Publicos RFB">
  <po-container *ngIf="status.rodando" class="etl-progresso">
    <div class="etl-progresso__header">
      <strong>Processando...</strong>
      <span class="etl-progresso__label">{{ faseLabel }}</span>
    </div>
    <po-progress
      p-text="Progresso"
      [p-value]="percentual"
      p-info="{{ percentual }}%">
    </po-progress>
  </po-container>

  <div class="po-row etl-indicadores">
    <po-widget class="po-xl-3 po-md-6 po-sm-12" p-title="Arquivos esperados">
      <po-info p-label="Total" [p-value]="arquivos.length.toString()"></po-info>
    </po-widget>

    <po-widget class="po-xl-3 po-md-6 po-sm-12" p-title="Baixados">
      <po-info p-label="Arquivos" [p-value]="arquivosBaixados().toString()"></po-info>
    </po-widget>

    <po-widget class="po-xl-3 po-md-6 po-sm-12" p-title="Extraidos">
      <po-info p-label="Arquivos" [p-value]="arquivosExtraidos().toString()"></po-info>
    </po-widget>

    <po-widget class="po-xl-3 po-md-6 po-sm-12" p-title="Ultima execucao">
      <po-info p-label="Status" [p-value]="status.historico[0]?.status || '-'"></po-info>
    </po-widget>
  </div>

  <po-tabs p-size="medium">
    <po-tab p-label="Executar" [p-active]="true">
      <div class="etl-tab-content">
        <po-container p-title="Competencia">
          <div class="po-row">
            <po-input
              class="po-md-3 po-sm-12"
              p-label="Competencia (AAAA-MM)"
              p-placeholder="Ex: 2026-05"
              p-mask="9999-99"
              [(ngModel)]="competencia"
              p-help="Pasta de origem no repositorio RFB">
            </po-input>
          </div>
        </po-container>

        <div class="po-row">
          <div class="po-lg-6 po-sm-12 etl-grid-item">
            <po-container p-title="1. Baixar arquivos">
              <p>Faz download dos ZIPs da RFB. Pula os que ja existem no servidor.</p>
              <po-button
                p-label="Baixar"
                p-kind="secondary"
                p-icon="an an-download-simple"
                [p-disabled]="status.rodando"
                (p-click)="executar('download')">
              </po-button>
            </po-container>
          </div>

          <div class="po-lg-6 po-sm-12 etl-grid-item">
            <po-container p-title="2. Extrair ZIPs">
              <p>Descompacta os arquivos baixados para CSV antes da carga na base.</p>
              <po-button
                p-label="Extrair"
                p-kind="secondary"
                p-icon="an an-file-zip"
                [p-disabled]="status.rodando"
                (p-click)="executar('extracao')">
              </po-button>
            </po-container>
          </div>

          <div class="po-lg-6 po-sm-12 etl-grid-item">
            <po-container p-title="3. Aplicar na base">
              <p>Carrega os CSVs no PostgreSQL com truncamento previo e insercao em lotes.</p>
              <po-button
                p-label="Aplicar"
                p-kind="secondary"
                p-icon="an an-database"
                [p-disabled]="status.rodando"
                (p-click)="executar('carga')">
              </po-button>
            </po-container>
          </div>

          <div class="po-lg-6 po-sm-12 etl-grid-item">
            <po-container p-title="ETL completo">
              <p>Executa download, extracao e carga em sequencia.</p>
              <po-button
                p-label="Executar tudo"
                p-kind="primary"
                p-icon="an an-play-circle"
                [p-disabled]="status.rodando"
                (p-click)="executar('completo')">
              </po-button>
            </po-container>
          </div>
        </div>
      </div>
    </po-tab>

    <po-tab p-label="Arquivos no servidor">
      <div class="etl-tab-content">
        <po-container p-title="Arquivos no servidor">
          <po-table
            [p-columns]="colunasArquivos"
            [p-items]="arquivos"
            [p-loading]="carregando"
            [p-hide-table-search]="true"
            [p-hide-columns-manager]="true"
            [p-striped]="true">
          </po-table>
        </po-container>
      </div>
    </po-tab>

    <po-tab p-label="Historico de execucoes">
      <div class="etl-tab-content">
        <po-container p-title="Historico de execucoes">
          <div class="etl-toolbar">
            <po-info p-label="Total de logs" [p-value]="status.total.toString()"></po-info>
            <po-button
              p-label="Limpar logs"
              p-kind="secondary"
              p-icon="an an-trash"
              [p-disabled]="status.rodando || limpandoLogs || !status.total"
              (p-click)="limparLogs()">
            </po-button>
          </div>

          <po-table
            [p-columns]="colunasHistorico"
            [p-items]="status.historico"
            [p-actions]="acoesHistorico"
            [p-loading]="carregandoHistorico"
            [p-hide-table-search]="true"
            [p-hide-columns-manager]="true"
            [p-striped]="true">
          </po-table>

          <div class="etl-paginacao">
            <span>Pagina {{ historicoPage }} de {{ totalPaginasHistorico }}</span>
            <div class="etl-paginacao__acoes">
              <po-button
                p-label="Anterior"
                p-kind="tertiary"
                p-icon="an an-caret-left"
                [p-disabled]="historicoPage <= 1 || carregandoHistorico"
                (p-click)="paginaAnteriorHistorico()">
              </po-button>
              <po-button
                p-label="Proxima"
                p-kind="tertiary"
                p-icon="an an-caret-right"
                [p-disabled]="!temProximaPaginaHistorico || carregandoHistorico"
                (p-click)="paginaProximaHistorico()">
              </po-button>
            </div>
          </div>
        </po-container>
      </div>
    </po-tab>
  </po-tabs>
</po-page-default>

<po-modal
  #modalErro
  p-title="Detalhes do erro"
  p-size="lg"
  [p-primary-action]="acaoFecharErro">
  <pre class="etl-erro-pre">{{ erroDetalhe }}</pre>
</po-modal>
