<nav class="rfb-navbar">
  <div class="rfb-navbar__container">

    <a routerLink="/" class="rfb-navbar__brand">
      <span class="rfb-navbar__logo-icon an an-database"></span>
      <span class="rfb-navbar__logo-text">RFB<strong>Data</strong></span>
    </a>

    <ul class="rfb-navbar__links">
      <li><a href="#como-funciona">Como funciona</a></li>
      <li><a href="#planos">Planos</a></li>
      <li><a href="#exemplos">Exemplos</a></li>
      <li><a href="/docs" target="_blank">Documentação <span class="an an-arrow-square-out"></span></a></li>
    </ul>

    <div class="rfb-navbar__actions">
      <po-button
        p-label="Entrar"
        p-kind="tertiary"
        p-icon="an an-sign-in"
        p-url="/cliente/login">
      </po-button>
      <po-button
        p-label="Começar grátis"
        p-kind="primary"
        p-icon="an an-rocket-launch"
        p-url="/cliente/cadastro">
      </po-button>
    </div>

  </div>
</nav>
